.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Almendra", serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  outline-width: 0;
}
